

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App{
  height: auto;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#editor{
  height: 25vh;
  min-height: 25vh;
  max-height: 25vh;

  max-width: calc(90vw);
  min-width: calc(90vw);

  padding: 10px;

  font-size: 1.4em;

  white-space: initial;
}

#preview{
  height: auto;
  min-height: 25vh;

  max-width: calc(90vw);
  min-width: calc(90vw);

  border-style: solid;
  padding: 10px;

  font-size: 1.8em;

  word-wrap: break-all;

  margin-bottom: 10vh;
}

.title{
  font-size: 3em;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;

}

.sub-heading{
  font-size: 2em;
  margin: 5vh 0px 2vh 1vh;
}

@media only screen and (max-width: 400px){
  #preview{
    font-size: 0.8em;
    word-wrap: break-all;
  }
  #editor{
    font-size: 0.8em;    
  }  
}